name: Formatting & clippy checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install toolchain
        run: rustup toolchain install nightly

      - name: Install ALSA dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Check formatting
        id: fmt
        continue-on-error: true
        run: cargo fmt --check

      - name: Run clippy
        id: clippy
        continue-on-error: true
        run: cargo clippy --locked --all-targets -- -D warnings

      - name: Fail if any check failed
        if: always()
        run: |
          if [ "${{ steps.fmt.outcome }}" != "success" ] || \
             [ "${{ steps.clippy.outcome}}" != "success" ]; then
            exit 1
          fi